In [4]:
import pandas as pd
import numpy as np
a = pd.DataFrame({'key':list('bbccaa'),'data1':np.random.randint(0,10,size=6)})
b = pd.DataFrame({'key':list('abc'),'data2':np.random.randint(0,10,size=3)})
print(a)
print(b)

  key  data1
0   b      4
1   b      1
2   c      0
3   c      4
4   a      7
5   a      7
  key  data2
0   a      5
1   b      5
2   c      1

## pd.merge 数据关联合并

In [5]:
# 根据key是相同的字段，进行关联，a join b on a.key=b.key
a.merge(b)
#a.merge(b,on='key')
#a.merge(b,left_on='key',right_on='key')

  key  data1  data2
0   b      4      5
1   b      1      5
2   c      0      1
3   c      4      1
4   a      7      5
5   a      7      5

In [6]:
c = pd.DataFrame({'lkey1':list('ab'),'lkey2':list('xy'),'ldata1':np.random.randint(0,10,size=2)})
d = pd.DataFrame({'rkey1':list('ab'),'rkey2':list('xy'),'ldata1':np.random.randint(0,10,size=2)})
#当找不到关联字段时，可以将组合键传入
c.merge(d,left_on=['lkey1','lkey2'],right_on=['rkey1','rkey2'])

  lkey1 lkey2  ldata1_x rkey1 rkey2  ldata1_y
0     a     x         4     a     x         9
1     b     y         5     b     y         2

In [7]:
# 观察以上结果集，c和d有一个同名字段ldata1,默认加了后缀_x,_y进行区分
#下面通过参数来指定后缀名称
c.merge(d,left_on=['lkey1','lkey2'],right_on=['rkey1','rkey2'],suffixes=['_left','_right'])

  lkey1 lkey2  ldata1_left rkey1 rkey2  ldata1_right
0     a     x            4     a     x             9
1     b     y            5     b     y             2

## pd.concat  轴向连接

In [8]:
s1 = pd.Series(['a','b'])
s2 = pd.Series(['c','d'])
# 默认是纵向轴连接，axis = 0 ;
pd.concat([s1,s2])
#pd.concat([s1,s2],axis=1)  #横向轴连接 axis=1

0    a
1    b
0    c
1    d
dtype: object

In [9]:
# axis =1 时，如果index不一样，拼接的时候，是会合并的。
s1 = pd.Series([0,1],index=['a','b'])

s2 = pd.Series([2,3,4],index=['c','d','e'])

s3 = pd.Series([5,6],index=['f','g'])

pd.concat([s1,s2,s3])
# pd.concat([s1,s2,s3],axis=1)

a    0
b    1
b    2
d    3
e    4
f    5
g    6
dtype: int64